<div *ngIf="atletas" class="container leaderboard-container">
  <div class="container-of">
    <div class="boton-container">
      <button class="btn" (click)="getAtletas_byCategoria(atleta.id_categoria)"> Ver mi categoría </button>
      <button class="btn" (click)="getAtletas_byCategoria(1)"> RX Masculino </button>
      <button class="btn" (click)="getAtletas_byCategoria(2)"> Scale Masculino </button>
      <button class="btn" (click)="getAtletas_byCategoria(3)"> Scale Femenino </button>
    </div>
    <div class="boton-container">
      <button class="btn" (click)="getAtletas_byCategoria(4)"> Team </button>
      <button class="btn" (click)="getAtletas_byCategoria(5)"> Master Masculino </button>
      <button class="btn" (click)="getAtletas_byCategoria(6)"> Master Femenino </button>
      <button class="btn" (click)="getAtletas_byCategoria(7)"> Teens </button>
    </div>
  </div>


  <h2 *ngIf="atletas">LEADERBOARD {{aux_categoria}} </h2>
  <p class="info"> La clasificación es suceptible de contener errores de automatización. 
    La clasificación definitiva será publicada una vez se haya finalizado el plazo
    para entregar los WORKOUT. </p>
  <table>
    <tr>
      <td id="pos"> POS </td>
      <td id="name"> NOMBRE </td>
      <td id="score" class="score"> PUNTOS </td>
      <td id="score" class="score"> WOD.1 </td>
      <td id="score" class="score"> WOD.2 </td>
    </tr>
    <tr *ngFor="let atleta of atletas; let i = index" [attr.data-index]="i">
      <td id="pos"> {{i+1}} </td>
      <td id="name"> <b>{{atleta.nombre}}</b><span>{{atleta.box||"Independiente"}}</span></td>
      <td id="score" class="score">{{atleta.puntos}}</td>
      <td id="score" class="score">{{atleta.wod_1.puesto || 0}} ({{atleta.wod_1.puntuacion}})</td> 
      <td id="score" class="score">{{atleta.wod_2.puesto || 0}} ({{atleta.wod_2.puntuacion}})</td>
  </table>

</div>
