<div class="wod-cc">
  <h1 class="wod-title">
    {{wod.titulo}}
  </h1>
  <div class="wod-actions">
    <!-- <p class="puntuacion">PUNTUACION = {{wod.puntuacion}}</p> -->

    <div class="data">

      <div class="flex flex-center flex-column" *ngIf="wod.titulo == 'WOD 1.A' && atleta.wod_1a.puntuacion !== 0 || wod.titulo == 'WOD 1.B' && atleta.wod_1b.puntuacion !== 0">
        <i class="fas fa-check-circle" *ngIf="!modPuntuacion"></i>
        <button class="btn btn-block" (click)="modPuntuacion = !modPuntuacion" *ngIf="!modPuntuacion">Modificar puntuación</button>
      </div>

      <form [formGroup]="scoreForm" *ngIf="wod.titulo == 'WOD 1.A' && atleta.wod_1a.puntuacion == 0 || wod.titulo == 'WOD 1.B' && atleta.wod_1b.puntuacion == 0 || modPuntuacion">
        <span *ngIf="category == 3 || category == 4">Datos del primer atleta: </span>
        <div class="input-group" *ngIf="wod.titulo == 'WOD 1.A'">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons" *ngIf="!sendedScore">trending_up</i>
            <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
          </span>
          <input type="number" placeholder="kg" formControlName="kilos" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('kilos')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('kilos')">(*) kg</span>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">
              <i class="material-icons" *ngIf="!sendedScore">format_list_numbered</i>
              <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
            </i>
          </span>
          <input type="number" placeholder="Repeticiones" formControlName="reps" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('reps')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('reps')">(*) Introduzca las repeticiones</span>
        </div>

        <!-- SEGUNDO ATLETA -->
        <span *ngIf="category == 3 || category == 4"> Datos del segundo atleta: </span>
        <div class="input-group" *ngIf="wod.titulo == 'WOD 1.A' && (category == 3 || category == 4)">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons" *ngIf="!sendedScore">trending_up</i>
            <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
          </span>
          <input type="number" placeholder="Kilogramos por una repetición" formControlName="kilos2" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('kilos2')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('kilos2')">(*) Introduzca los kilogramos por repetición</span>
        </div>

        <div class="input-group" *ngIf="category == 3 || category == 4">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">
              <i class="material-icons" *ngIf="!sendedScore">format_list_numbered</i>
              <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
            </i>
          </span>
          <input type="number" placeholder="Repeticiones" formControlName="reps2" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('reps2')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('reps2')">(*) Introduzca las repeticiones</span>
        </div>

        <!-- URL -->
        <span *ngIf="category == 3 || category == 4"> Urls de los videos respectivamente: </span>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons" *ngIf="!sendedScore">videocam</i>
            <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
          </span>
          <input type="text" placeholder="URL / Link del vídeo" formControlName="url" class="form-control" [ngClass]="{'form-control-invalid':validarCampo('url')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('url')">(*) Introduzca una url correcta</span>
        </div>

        <div class="input-group" *ngIf="category == 3 || category == 4">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons" *ngIf="!sendedScore">videocam</i>
            <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
          </span>
          <input type="text" placeholder="URL / Link del vídeo" formControlName="url2" class="form-control" [ngClass]="{'form-control-invalid':validarCampo('url2')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('url2')">(*) Introduzca una url correcta</span>
        </div>

        <!-- <iframe *ngIf="videoUrlDone" width="100%" height="auto" [src]="youtubeUrl" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe> -->

        <button (click)="updateWod(scoreForm.value)" *ngIf="!sendedScore && !videoUrlDone" class="btn btn-block">Enviar/Modificar puntuación</button>
        <span class="btn btn-block btn-cancel" *ngIf="errVideoUrl && !sendedScore">INTÉNTELO MÁS TARDE</span>

      </form>

    </div>

  </div>
</div>