<div class="wod-cc">
  <h1 class="wod-title">
    {{wod.titulo}}
  </h1>
  <div class="wod-img-container">
    <img src="{{wod.imagen}}" alt="Lanzarote Summer Challenge 2017 - {{wod.titulo}}" />
  </div>
  <div class="wod-description-container">
    <div class="wod-movements">
      <div *ngFor="let p of wod.descripcion" class="movement-block">{{p}}
        <br />
      </div>
    </div>
    <div class="wod-poweredBy">
      <span> Patrocinado por: </span>
      <img src="{{wod.patrocinador.img}}" alt="{{wod.patrocinador.nombre}}" />
    </div>
    <div class="especifications-container">
      <div class="especifications-title">
        <i class="material-icons">assignment</i>
        <span> ESPECIFICACIONES </span>
      </div>
      <div *ngFor="let esp of wod.especificaciones" class="wod-especifications">
        <p *ngIf="esp"> - {{esp}} </p>
      </div>
    </div>
  </div>
  <div class="wod-actions">
    <!-- <p class="puntuacion">PUNTUACION = {{wod.puntuacion}}</p> -->
    <p class="puntuacion">TIEBRAKE = {{wod.tiebreak}}</p>

    <div class="data">

      <form [formGroup]="scoreForm" (ngSubmit)="updateWod(scoreForm.value)">

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons" *ngIf="!sendedScore">trending_up</i>
            <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
          </span>
          <input type="number" placeholder="Kilogramos por una repetición" formControlName="kilos" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('kilos')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('kilos')">(*) Introduzca los kilogramos por repetición</span>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">
              <i class="material-icons" *ngIf="!sendedScore">format_list_numbered</i>
              <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
            </i>
          </span>
          <input type="number" placeholder="Repeticiones" formControlName="reps" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('reps')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('reps')">(*) Introduzca las repeticiones</span>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">
              <i class="material-icons" *ngIf="!sendedScore">access_time</i>
              <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
            </i>
          </span>
          <input type="text" placeholder="Tiempo (MM:SS)" formControlName="time" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('time')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('time')">(*) Introduzca el tiempo en formato MM:SS</span>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons" *ngIf="!sendedScore">videocam</i>
            <i class="material-icons" *ngIf="sendedScore" [ngClass]="{'icon-done-url':sendedScore}">done</i>
          </span>
          <input type="text" placeholder="URL / Link del vídeo" formControlName="url" class="form-control" [ngClass]="{'form-control-invalid':validarCampo('url')}"
            aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('url')">(*) Introduzca una url correcta</span>
        </div>

        <iframe *ngIf="videoUrlDone" width="100%" height="auto" [src]="youtubeUrl" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>

        <input type="submit" *ngIf="!sendedScore && !videoUrlDone" class="btn btn-block" value="Enviar/Modificar puntuación" />
        <span class="btn btn-block btn-cancel" *ngIf="errVideoUrl && !sendedScore">INTÉNTELO MÁS TARDE</span>

      </form>

    </div>

  </div>
</div>