<section class="container-fluid">
  <div class="container wods-container">

    <div class="wod-container">
      <h1 class="wod-title">
        WORKOUT 1
      </h1>
      <div class="wod-img-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/lnzsumchl1.appspot.com/o/covers%2Fremo-01.jpg?alt=media&token=faaca776-1af7-4422-b0e2-c8a36cf13f8c" alt="Lanzarote Summer Challenge 2017 - WORKOUT 1" />
      </div>
      <div class="wod-description-container">
        <div class="wod-movements">
          <p> 
            <b> AMRAP 9' </b> <br />
            100 cal row, <br />
            Max burpees over the row (saltando el remo).
          </p>
        </div>
        <div class="wod-poweredBy">
          <span> Patrocinado por: </span>
          <img src="https://firebasestorage.googleapis.com/v0/b/lnzsumchl1.appspot.com/o/logos%2Fhatlex-nm.png?alt=media&token=15e9041d-2ed4-4404-bfb6-6e989b4074d7" alt="Hatlex Canarias" />
        </div>
      </div>
      <div class="wod-actions">
         <button class="btn btn-block"> Enviar puntuación </button>
      </div>
    </div>

    <div class="wod-container">
    <h1 class="wod-title">
      WORKOUT 1
    </h1>
    <div class="wod-img-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/lnzsumchl1.appspot.com/o/covers%2Fremo-01.jpg?alt=media&token=faaca776-1af7-4422-b0e2-c8a36cf13f8c" alt="Lanzarote Summer Challenge 2017 - WORKOUT 1" />
    </div>
    <div class="wod-description-container">
      <div class="wod-movements">
        <p> 
          <b> AMRAP 9' </b> <br />
          100 cal row, <br />
          Max burpees over the row (saltando el remo).
        </p>
      </div>
      <div class="wod-poweredBy">
        <span> Patrocinado por: </span>
        <img src="https://firebasestorage.googleapis.com/v0/b/lnzsumchl1.appspot.com/o/logos%2Fhatlex-nm.png?alt=media&token=15e9041d-2ed4-4404-bfb6-6e989b4074d7" alt="Hatlex Canarias" />
      </div>
    </div>
    <div class="wod-actions">
        <button class="btn btn-block"> Enviar puntuación </button>
    </div>
  </div>

 </div>
</section>
