<section class="container-fluid section-wods">
  <div *ngIf="atleta && (atleta.wod_1 || atleta.wod_2)" class="container mis-wod">
    <div class="mi-wod">
      <div class="mi-titulo">
        TU WORKOUT 1
      </div>
      <div *ngIf="atleta.wod_1a" class="mi-puntuacion">
        SCORE: {{atleta.wod_1a.puntuacion}}
      </div>
      <div *ngIf="atleta.wod_1a" class="mi-puesto">
        PUESTO: {{atleta.wod_1a.puesto}}
      </div>
    </div>
    <div *ngIf="atleta.wod_1b" class="mi-wod">
      <div class="mi-titulo">
        TU WORKOUT 2
      </div>
      <div class="mi-puntuacion">
        SCORE: {{atleta.wod_1b.puntuacion}}
      </div>
      <div class="mi-puesto">
        PUESTO: {{atleta.wod_1b.puesto}}
      </div>
    </div>
  </div>
  <div class="container wods-container">

    <div *ngFor="let wod of wods" class="wod-container">
      <app-wod-card [wod]="wod" [category]="atleta.id_categoria" [atleta]="atleta"></app-wod-card>
    </div>

  </div>
</section>