<form atletaDatos [formGroup]="rForm" (ngSubmit)="login_correo()">
    <md-card class="example-card row bg-white">
      <span class="btn btn-block">
        CLASIFICATORIO ONLINE
      </span>
      <hr />
      <md-card-content class="col col-md-12">

        <!-- EMAIL -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">perm_identity</i>
          </span>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('email') || validarFallo('email')}" placeholder="Email de contacto" aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('email')">(*) Se requiere email válido</span>
          <span class="form-control-invalid-alert" *ngIf="error=='Email no registrado'">(*) Email no registrado</span>
        </div>

        <!-- PASSWORD -->
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">vpn_key</i>
          </span>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('password') || validarFallo('password') }" placeholder="Contraseña" aria-describedby="basic-addon1">
          <span class="form-control-invalid-alert" *ngIf="validarCampo('password')">(*) Contraseña de al menos seis caracteres</span>                            
          <span class="form-control-invalid-alert" *ngIf="error=='Contraseña incorrecta'">(*) Contraseña incorrecta</span>              
        </div>

        <hr>
        <!-- SUBMIT -->
        <input type="submit" class="btn btn-block" [disabled]="!rForm.valid" value="ENTRAR">

      </md-card-content>
    </md-card>
  </form>