<div *ngIf="wods" class="container">
  <div class="buttons-container">
    <button class="btn" (click)="getWods(this.wods, 1)"> TEENAGERS </button>
    <button class="btn" (click)="getWods(this.wods, 0)"> RESTO DE CATEGORÍAS </button>
  </div>

  <div class="wods-container">

    <div class="wod-container" *ngFor="let wod of aux_wods">
      <div class="wod-cc">
        <div class="wod-title">{{wod.titulo}}</div>

        <div class="wod-img">
          <img src="{{wod.imagen}}" alt="Lanzarote Summer Challenge" />
        </div>

        <div class="wod-description">

          <div class="wod-movements">
            <div *ngFor="let p of wod.descripcion" class="movement">{{p}}<br /></div>
          </div>

          <div class="poweredBy">
            <span>Patrocinado por:</span>
            <img src="{{wod.patrocinador.img}}" alt="{{wod.patrocinador.nombre}}" />
          </div>

          <div class="especifications">
            <div class="title">
              <i class="material-icons">assignment</i>
              <span> ESPECIFICACIONES</span>
            </div>

            <div class="especification" *ngFor="let esp of wod.especificaciones">
              <p *ngIf="esp"> - {{esp}}</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>