.admin-container{
    margin-top:60px;
    width: 100%;
}

.modalk{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(22,22,22,0.8);
    z-index: 99999;
    top: 0;
    left: 0;
}
.admin-container table{
    width: 100%;
    background-color: white;
}
table tr:nth-child(even){
    background-color: rgba(88,88,88, 0.1);
}
admin-container table tr{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}
.admin-container table tr td{
    border:1px solid rgba(88,88,88, 0.1);
    vertical-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
}
table tr td span{
    font-size: 1rem;
}
.data-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.num-container{
    border-radius: 3px;
    padding-top: 20px;
    display: flex;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
    max-width: 100%;
    flex-wrap: wrap;
}
.data-container .num-container:first-child .num-panel{
    min-width: 300px;
}
.num-panel{
    flex: 1;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(88,88,88,0.1), 0 6px 6px rgba(0,0,0,0.15);
    display: flex;
    border: 1px solid rgba(182,182,182,0.8);
    font-family: 'Open Sans';
    margin-right: 25px;
}

.num-panel:first-child{
    margin-left: 25px;
}

.num-panel .title{
    border-right: 2px solid rgba(88,88,88, 0.2);
    padding: 25px;
    font-size: 1.5vh;
    color:rgba(22,22,22, 0.4);
    font-weight: 800;
    letter-spacing: 0.2em;
    display: flex;
    flex: 2;
}
.num-panel .data{
    font-size: 2.8vh;
    font-family: 'Open Sans';
    font-weight: 800;
    display: flex;
    flex: 1;
    padding: 12px;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.atleta-list {
    width: 90%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 35px;
}
.atleta {
    background-color: #009c9c;
    border-radius: 3px;
    flex: 1 1 100%;
    width: 100%;
    color: white;
    margin-top: 16px;
}
.atleta--data {
    border-right: 4px solid rgba(22,22,22, 0.05);
    width: 80%;
}
.atleta--name {
    padding: 18px 16px 2px 16px;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.atleta--email, .atleta--categoria {
    padding: 2px 16px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.atleta--categoria {
    padding-bottom: 18px;
}
.atleta--estado {
    width: 20%;
}
.estado--on {
    background-color: rgba(244,244,244, 0.3);
    border-radius: 0px 3px 3px 0px;
}
.estado--of i {
    display: none;
}
.estado--on i {
    font-size: 28px;
    color: #009c9c;
}

@media(max-width: 780px) {
    .num-panel {
        margin-left: 25px;
        flex: 1 1 100%;
    }
}