<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header-container">

    <!-- Testing
    <div routerLink="/" routerLinkActive="active" class="info-container datos">
      <button class="boton navbar-btn btn--desktop">VOLVER </button>
    </div>
    -->

    <div *ngIf="atleta" class="info-container">
      <i class="material-icons"> account_circle </i>
      <div class="datos">
        <span id="name"> {{atleta.nombre}} </span>
        <span id="email"> {{atleta.email}} </span>
      </div>
    </div>

    <div class="spacer"> </div>

    <div *ngIf="!auth" class="login-actions-container">
      <button *ngIf="!auth" routerLink="/login" routerLinkActive="active" class="boton btn--desktop navbar-btn navbar-right"> ACCEDER </button>
      <!--
      <button *ngIf="!auth" routerLink="/registro" routerLinkActive="active" class="boton btn--desktop navbar-btn navbar-right">
        INSCRÍBETE </button>
      -->
    </div>

    <div *ngIf="auth" class="auth-actions-container">
      <button class="boton navbar-btn navbar-right btn--desktop" (click)="logout()"> CERRAR SESION </button>
    </div>

  </div>
  <div class="phone-mobile">

    <div class="info">
      <div routerLink="/dashboard" routerLinkActive="active" *ngIf="atleta" class="datos">
        <i class="material-icons"> account_circle </i>
        <span id="name"> {{atleta.nombre}} </span>
      </div>
      <div *ngIf="!atleta" class="home" routerLink="/" routerLinkActive="active">
        <i class="fas fa-home"></i>
      </div>
      <div class="logout">
        <i *ngIf="atleta" (click)="logout()" class="fas fa-sign-out-alt"></i>
        <i *ngIf="!atleta" routerLink="/login" routerLinkActive="active" class="fas fa-sign-in-alt"></i>
      </div>
    </div>

    <div *ngIf="!auth" class="actions">
      <div *ngIf="!auth" class="login">
        <button *ngIf="!auth" routerLink="/login" routerLinkActive="active" class="boton"> ACCEDER </button>
        <!--
        <button *ngIf="!auth" routerLink="/registro" routerLinkActive="active" class="boton"> INSCRÍBETE </button>
        -->
      </div>
      <div *ngIf="auth && atleta && atleta.estado > 1" class="payment">
        <a routerLink="/inscritos" routerLinkActive="active">
          <button class="boton btn-block">VER INSCRITOS </button>
        </a>
        <a routerLink="/dashboard" routerLinkActive="active">
          <button class="boton btn-block"> VOLVER </button>
        </a>
      </div>
      <div *ngIf="auth && atleta && atleta.estado < 2" class="payment">
        <a routerLink="/" routerLinkActive="active">
          <button class="boton btn-block"> VOLVER </button>
        </a>
      </div>

    </div>

  </div>
</nav>
<router-outlet></router-outlet>
<div class="menu-bottom-fixed">
  <!--
  <div routerLink="/public-wods" routerLinkActive="active" class="op">
    <a > VER WODS </a>
  </div>
  -->
  <!--
  <div *ngIf="!auth"  routerLink="/public-panel" routerLinkActive="active" class="op">
    <a> Ver Inscritos </a>
  </div>
-->
  <!--
  <div routerLink="/wods" routerLinkActive="active" class="option flex flex-column flex-center">
    <div class="option--icon">
      <i class="fab fa-youtube"></i>
    </div>
    <div class="option--text">Enviar WOD</div>
  </div>
-->
  <div routerLink="/requisitos" routerLinkActive="active" class="option flex flex-column flex-center">
    <div class="option--icon">
      <i class="fas fa-crosshairs"></i>
    </div>
    <div class="option--text">Wods</div>
  </div>
  <div routerLink="/dashboard" routerLinkActive="active" class="option flex flex-column flex-center">
    <div class="option--icon">
      <i class="fas fa-list-ol"></i>
    </div>
    <div class="option--text">Clasificación</div>
    <span routerLink="/registro" routerLinkActive="active" class="flotante _pulse">¡En Directo!</span>
  </div>
  <div routerLink="/registro" routerLinkActive="active" class="option flex flex-column flex-center">
    <div class="option--icon">
      <i class="far fa-clock"></i>
    </div>
    <div class="option--text">Horarios</div>
  </div>
  <div routerLink="/leaderboard" routerLinkActive="active" class="option flex flex-column flex-center">
    <div class="option--icon">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="option--text">Cómo llegar</div>
    <!--
      <span routerLink="/leaderboard" routerLinkActive="active" class="flotante _pulse">¡Nuevo!</span>
    -->
  </div>
</div>