<div *ngIf="atletas" class="container leaderboard-container">

  <div class="buscador">
    <input type="text" placeholder="Nombre atleta" [(ngModel)]="query" (change)="search()" (keyup)="search()"> {{atletasFiltered?.length}}
  </div>
  <div class="categorias">
    <button *ngFor="let cat of categorias" (click)="filter(cat.c_id)">{{cat.nombre}}</button>
    <button (click)="filter('todos')"> TODOS </button>
  </div>


  <div class="atletas">
    <div *ngFor="let atleta of atletasFiltered">
      <div class="atleta__header">
        {{atleta?.nombre}} - {{atleta?.id_categoria}}
      </div>
      <div class="atleta__content">
        <!-- button (click)="select(atleta)">Seleccionar</button> -->
        <div *ngFor="let wod of atleta?.wods.wodsArray">
          {{wod?.name}} - {{wod?.ranking}} - {{wod?.score}}
        </div>
      </div>
    </div>
  </div>

</div>