.container.leaderboard-container:before {
    display: none;
}
.leaderboard-container:first-child{
    padding-top: 80px;
    margin-bottom: 40px;

    display: grid;
    width: 95%;
    margin: 0 auto;

    grid-template-rows: 40px 80px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "buscador"
        "categorias"
        "atletas";
}

.buscador {
    grid-area: "buscador";
}

.categorias {
    grid-area: "categorias";
}

.atletas {
    grid-area: "atletas";

    display: grid;
    grid-template-rows: repeat(auto-fit, 200px);
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.atletas > div {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 4px #00000010;

    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr;
}
.atleta__header {
    color: #333;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
}
.atleta__content {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.atleta__content > div {
    background-color: #00000010;
}



