<div class="countdown-title">
    <h2>Apertura de inscripciones en:</h2>
</div>
<div class="countdown flex">
  <div class="date">
    <span class="date-title">DÍAS</span>
    <span id="days" class="date-time"></span>
  </div>
  <div class="date">
      <span class="date-title">HORAS</span>
      <span id="hours" class="date-time"></span>
  </div>
  <div class="date">
    <span class="date-title">MINUTOS</span>
    <span id="minutes" class="date-time"></span>
  </div>
  <div class="date">
    <span class="date-title">SEGUNDOS</span>
    <span id="seconds" class="date-time"></span>
  </div>
</div>


