.overlay {
  background-color: #fafafa;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .hashtags-container {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .hashtag {
    width: 45%;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 6px;
    margin: 10px 0px;
  }

  .hashtag .header {
    height: 60px;
    padding: 16px;
    width: 100%;
    justify-content: flex-start;
    border-radius: 6px 6px 0px 0px;
    border: 1px solid #e6e6e6;
}

  .hashtag .header h2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
  }

  .hashtag .body {
    width: 100%;
  }

  .hashtag .profile--img {
    width: 39px;
    height: 39px;
    border-radius: 100%;
    background-color: #e6e6e6;
    overflow: hidden;
    border: 1px solid #e6e6e6;
  }

  .hashtag .profile--img img {
    max-width: 100%;
  }

  .hashtag .profile--name {
    margin-left: 12px;
    font-size: 12px;
    color: #262626;
  }

  .hashtag .body .contador {
    font-size: 50px;
    color: #fafafa;
    text-shadow: 0px 0px 8px rgba(22,22,22, 0.1);
  }

  .hashtag .body .body--image {
    width: 100%;
    min-height: 300px;
    background-color: #F2A634;
  }
  .hashtag .body .body--stats {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    padding: 12px 16px;
    font-weight: 800;
    font-size: 12px;
  }
  .hashtag .body .body--stats .likes i {
    font-size: 24px;
    margin: 4px 0px;
    color: #DB565B;
  }

  .body--stats .likes {
    padding-bottom: 12px;
    border-bottom: 1px solid #e6e6e6;
  }

  .hashtag .body .body--text {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-bottom: none;
    padding: 8px 16px 16px 16px;
  }

  .body--text p {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .hashtag .actions {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 0px 6px 6px;
  }

  .hashtag .actions .btn {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 8px #e6e6e6;
    flex: 1;
    margin: 0px 8px;
  }

  .hashtag__score{
    font-size: 60px;
  }

  hashtag__clipboard{
    height: 20px;
    line-height: 20px;
    display: block;
    cursor: pointer;
  }

  .posts-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .post__group{
    display: flex;
    flex-flow: row;
  }

  .post__img{
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 10px;
  }

  .post__text{
    width: auto;
  }

  .post__hashtags{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .post__hashtag{
    text-decoration: underline;
    cursor: pointer;
  }


  .message-container {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    flex: 1;
    flex-direction: row;
    padding: 25px;
    background-color: rgba(244, 244, 244, 0.9);
    vertical-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .explicacion .title{
    padding: 16px 16px;
    align-items: center;
  }
  .explicacion .title i {
    font-size: 40px;
    padding-right: 16px;
    border-right: 4px solid #F2A634;
  }
  .explicacion h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding: 0px 16px;
    text-align: center;
  }

  .explicacion p {
    font-size: 18px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    text-align: justify;
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
  }

  .explicacion p i {
    color: #009c9c;
    cursor: pointer;
  }

  .marcador {
    background: #ffffff;
    box-shadow: 0px 3px 5px #e6e6e6;
    border-radius: 3px;
    font-weight: 800;
    height: 70px;
    width: 100%;
    max-width: 100%;
    border-left: 8px solid #009c9c;
    border-right: 8px solid #F2A634;
  }

  .marcador .numbers {
    background-color: #e6e6e6;
    font-weight: 800;
    color: #fafafa;
    width: 20%;
    font-size: 24px;
  }
  .marcador .number {
    padding: 16px;
    text-shadow: 0px 0px 8px #D6D6D6;
  }
  .marcador .tag {
    width: 40%;
}

.copied {
  background-color: #009c9c;
  border-radius: 6px;
  box-shadow: 0px 0px 8px #D6D6D6;
  border: 1px solid #D6D6D6;
  color: #fafafa;
  font-size: 12px;
  padding: 12px;
  position: fixed;
  z-index: 99;
  text-align: center;
  opacity: 1;
  transition: all 200ms;
  display: initial;
}
.copied.off {
  opacity: 0;
  display: none;
}
.copied label {
  margin-bottom: 0px;
}

  @media (max-width: 700px) {
    .hashtags-container {
      width: 95%;
    }
    .hashtag {
      width: 100%;
    }
    .explicacion h2 {
      font-size: 32px;
    }
    .title {
      flex-direction: column;
    }
    .explicacion .title{
      padding: 12px 0;
    }
    .explicacion .title i {
      border: none;
      border-bottom: 4px solid #F2A634;
      padding: 16px;
      font-size: 55px;
      margin-bottom: 16px;
    }
    .explicacion p {
      background-color: transparent;
      border: none;
      border-top: 2px dashed #D6D6D6;
      border-radius: 0;
      margin-top: 8px;
      line-height: 1.58;
      text-align: start;
    }
  }