<div class="overlay"></div>
<div class="copied flex flex--center" id="copied">
  <label> ¡Hashtag copiado! </label>
</div>
<div class="container">

  <div class="hashtags-container">

    <div class="explicacion">
      <div class="title flex flex-center">
        <i class="fab fa-instagram"></i>
        <h2>
          ¡En el Gran Canaria Summer Challenge el primer wod del clasificatorio online lo eliges tú!
        </h2>
      </div>

      <p>
        Sube una foto a Instagram con el hashtag
        <strong id="hash-cluster" (click)="onClick($event)">#gcsummercluster</strong> para votar por cluster y
        <strong id="hash-ohs" (click)="onClick($event)">#gcsummerohs</strong> si quieres dar tu voto a over head squat.
        <br>
        <br> El hashtag con el mayor número de post decidirá el movimiento con el que nuestros atletas tendrán que realizar el
        primer wod de la fase de clasificación online.
      </p>
    </div>

    <!--
    <div class="marcador flex">
      <div class="tag flex flex-center">
        #gcsummercluster
      </div>
      <div class="numbers flex flex-center">
        <div class="number number--cluster">
          {{cluster}}
        </div>
        <span>-</span>
        <div class="number number--ohs">
          {{ohs}}
        </div>
      </div>
      <div class="tag flex flex-center">
        #gcsummerohs
      </div>
    </div>
    -->

    <div class="hashtag" *ngIf="instaposts.ohs.user">
      <div class="header flex flex-center">
        <div class="profile--img">
          <img src="{{instaposts.ohs.user.profile_picture}}" alt="" class="rounded">
        </div>
        <div class="profile--name">
          <h2 class="name">#gcsummerohs </h2>
        </div>
      </div>
      <div class="body">
        <div class="body--image flex flex-column flex-center">
          <img src="{{urlImgOhs}}" alt="#gcsummerohs" (click)="downloadImage(urlImgOhs,'ohs')">
        </div>
        <div class="body--stats flex flex-column flex-center">
          <!-- BODY STATS CODE -->
          <img src="{{urlImgOhs}}" alt="#gcsummerohs" (click)="downloadImage(urlImgOhs,'ohs')">
          <span class="stats--hashtag">#gcsummerohs</span>
          <span class="stats--counter">{{ohs}} post</span>
        </div>
        <div class="body--text">
          <p>
            En el @gcsummerchallenge yo voto por #gcsummerohs para el primer wod del clasificatorio online, ¿y tú?
            <br> -
            <br> Si quieres saber cómo hacerlo, entra en la web app del campeonato y descúbrelo. (https://app.gcsummerchallenge.com/instagram)
          </p>
        </div>
        <div class="actions flex">
          <button class="btn" (click)="downloadImage(urlImgOhs,'ohs')" *ngIf="!ohsDownloaded">Descargar imagen</button>
          <span class="btn" *ngIf="ohsDownloaded">
            <i class="material-icons">done</i>
          </span>
          <button class="btn" (click)="copyShareText('#gcsummerohs')" *ngIf="!ohsCopied">Copiar texto</button>
          <span class="btn" *ngIf="ohsCopied">
            <i class="material-icons">done</i>
          </span>
        </div>
      </div>
    </div>

    <div class="separator--dashed"></div>

    <div class="hashtag" *ngIf="instaposts.ohs.user">
      <div class="header flex flex-center">
        <div class="profile--img">
          <img src="{{instaposts.ohs.user.profile_picture}}" alt="" class="rounded" />
        </div>
        <div class="profile--name">
          <h2 class="name">#gcsummercluster</h2>
        </div>
      </div>
      <div class="body bg--cluster">
        <div class="body--image flex flex-column flex-center">
          <img src="{{urlImgCluster}}" alt="gcsummercluster" (click)="downloadImage(urlImgCluster,'cluster')">
        </div>
        <div class="body--stats flex flex-center flex-column">
          <img src="{{urlImgCluster}}" alt="gcsummercluster" (click)="downloadImage(urlImgCluster,'cluster')">
          <span class="stats--hashtag">#gcsummercluster</span>
          <span class="stats--counter">{{cluster}} post</span>
        </div>
        <div class="body--text">
          <p>
            En el @gcsummerchallenge yo voto por #gcsummercluster para el primer wod del clasificatorio online, ¿y tú?
            <br> -
            <br> Si quieres saber cómo hacerlo, entra en la web app del campeonato y descúbrelo. (https://app.gcsummerchallenge.com/instagram)
          </p>
        </div>
        <div class="actions flex">
          <button class="btn" (click)="downloadImage(urlImgCluster,'cluster')" *ngIf="!clusterDownloaded">Descargar imagen</button>
          <span class="btn" *ngIf="clusterDownloaded">
            <i class="material-icons">done</i>
          </span>
          <button class="btn" (click)="copyShareText('#gcsummercluster')" *ngIf="!clusterCopied">Copiar texto</button>
          <span class="btn" *ngIf="clusterCopied">
            <i class="material-icons">done</i>
          </span>
        </div>
      </div>
    </div>

    <!-- Anterior maquetación

    <h2>#OHS</h2>
    <span class="hashtag__score">{{ohs}}</span>
    <button class="hashtag__clipboard" (click)="clipboard('#gcsummerohs')">#gcsummerohs</button>

    <div class="hashtag">
      <h2>#cluster</h2>
      <span class="hashtag__score">{{cluster}}</span>
      <button class="hashtag__clipboard" (click)="clipboard('#gcsummercluster')">#gcsummercluster</button>

    </div>

  </div>

  <div class="message-container">
    Este año el @gcsummerchallenge mola, podemos elegir el primer wod del clasificatorio online. ¿Cuál te pides tú? // EXPLICACION
  </div>

  <div class="posts-container">
    <div class="post__group">
      <div class="post__img"></div>
      <div class="post__img"></div>
    </div>
    <p class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam,
    </p>
    <p class="post__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam,
    </p>

    <div class="post__hashtags">
      <span class="post__hashtag">#loquesea</span>
      <span class="post__hashtag">#loquesea</span>
      <span class="post__hashtag">#loquesea</span>
      <span class="post__hashtag">#loquesea</span>
      <span class="post__hashtag">#loquesea</span>
      <span class="post__hashtag">#loquesea</span>
      <span class="post__hashtag">#loquesea</span>
    </div>
  </div>

  Fin de anterior maquetación -->

  </div>