<div *ngIf="atleta" class="container-fluid" id="dashboard">
  <div class="container">

    <div class="message-container">
      <div class="icon-container">
        <i class="material-icons">error</i>
      </div>
      <div *ngIf="atleta.inscripcion.estado>1" class="text-container">
        <p>
          <b>¡YA PUEDES FORMALIZAR TU INSCRIPCIÓN!</b>
          <br /> Tienes
          <b>hasta el 05 de marzo</b> para hacer el pago de la misma.
        </p>
      </div>
      <div class="actions-container">
        <button (click)="openCheckout()" class="btn" *ngIf="payProgress=='notInitiated'">PAGAR INSCRIPCIÓN</button>

        <div class="spinner-container" *ngIf="payProgress=='inProgress'">
          <div class="load-spinner"></div>
        </div>

        <span *ngIf="payProgress=='finished'">
          Pago realizado. Revise el correo.
        </span>

      </div>
    </div>

    <div class="profile-container">
      <div class="decorador">
        <img src="https://firebasestorage.googleapis.com/v0/b/lnzsumchl1.appspot.com/o/logos%2Flogo-white.svg?alt=media&token=672e5e33-b918-44aa-b0bc-3e0fd60c456b"
          alt="lanzarote summer challenge" />
      </div>

      <div class="profile-info">
        <div class="header-info">
          <div class="data-container">
            <span id="name">{{atleta.nombre}}</span>
          </div>
          <span *ngIf="atleta.atl_1 && atleta.atl_2 && atleta.atl_3 && atleta.id_categoria==4 && !teamData" id="team">{{atleta.atl_1.nombre}} - {{atleta.atl_2.nombre}} - {{atleta.atl_3.nombre}}</span>
        </div>
        <div class="extra-info">
          <i class="material-icons">assessment</i> {{categoria}}
          <i *ngIf="atleta.inscripcion.estado<=1" title="Editar" routerLink="/edit" routerLinkActive="active" class="material-icons mini-action">mode_edit</i>
        </div>
        <div class="actions">
          <!-- <a *ngIf="atleta.inscripcion.estado<=1" target="_blank" class="btn" (click)="pay()">
              PAGAR INSCRIPCIÓN
          </a> -->
          <a routerLink="/edit" routerLinkActive="active" class="btn">
            EDITAR DATOS
          </a>
          <a *ngIf="atleta.inscripcion.estado > 1" routerLink="/wods" routerLinkActive="active" class="btn">
            VER WODS
          </a>
          <a *ngIf="atleta.inscripcion.estado <= 1" class="btn" disabled>
            VER WODS
          </a>
        </div>
      </div>

    </div>
    <div *ngIf="atleta.inscripcion.estado>1" class="leaderboard-container" id="leaderboard">
      <app-leaderboard></app-leaderboard>
    </div>

  </div>
</div>


<div *ngIf="teamData" class="team-modal modal">
  <div class="container">
    <div class="close-bar">
      <span (click)="closeModal()"> X </span>
    </div>
    <div class="title">
      <span> CONFIRMACIÓN ATLETAS TEAM </span>
    </div>
    <div class="form">
      <form>
        <div *ngIf="!atleta.atl_1" class="atleta">
          <h3> ATLETA 1 </h3>
          <input type="text" #nombre_1 name="nombre_1" placeholder="Nombre" required/>
          <input type="text" #id_1 name="id_1" placeholder="ID / DNI" required/>
          <button class="btn" (click)="addAthlete_1(nombre_1, id_1)"> CONFIRMAR </button>
        </div>
        <div *ngIf="!atleta.atl_2" class="atleta">
          <h3> ATLETA 2 </h3>
          <input type="text" #nombre_2 placeholder="Nombre" />
          <input type="text" #id_2 placeholder="ID / DNI" />
          <button class="btn" (click)="addAthlete_2(nombre_2, id_2)"> CONFIRMAR </button>
        </div>
        <div *ngIf="!atleta.atl_3" class="atleta">
          <h3> ATLETA 3 </h3>
          <input type="text" #nombre_3 placeholder="Nombre" />
          <input type="text" #id_3 placeholder="ID / DNI" />
          <button class="btn" (click)="addAthlete_3(nombre_3, id_3)"> CONFIRMAR </button>
        </div>
      </form>
    </div>
  </div>
</div>