#dashboard{
    padding-top: 100px;
}
.profile-duo{
    display: flex;
    flex-direction: row;
}

.profile-container{
    display: flex;
    flex: 1;
    min-height: 300px;
    border-radius: 12px;
}
.profile-container:first-child{
    margin-right: 25px;
}
.decorador{
    flex: 2;
    display: flex;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ffc600;
}
.decorador .material-icons{
    font-size: 30vh !important;
}
.profile-info{
    flex: 4;
    background-color: rgba(244,244,244,0.9);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 25px;
    padding-top: 25px;

}
.edit-form{
    padding-right: 25px;
    padding-bottom: 25px;
}
.edit-form input{
    box-shadow: none;
    font-size: 14px;
    border: none;
    color: #000000;
    padding: 12px;
    padding-left: 12px;
    background-color: rgba(222,222,222,0.2);
    border: 1px solid rgba(222,222,222,0.6);
    border-radius: 0px;
}
.radio-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    padding-top: 25px;
    padding-bottom: 35px;
    border-top: 2px solid rgba(222,222,222,0.8);
}
.radio-container label{
    flex: 1;
    margin-right: 12px;
    font-size: 1.8vh;
    font-weight: 100;
}
.header-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.header-info span:first-child{
    flex: 1;
    font-weight: 800;
    font-size: 5vh;
}
.header-info *{
    flex: 4;
}
.extra-info{
    flex: 2;
    display: flex;
    vertical-align: center;
    align-content: center;
    align-items: center;
}
.actions{
    flex: 1;
    padding-right: 25px;
    text-align: right;
}
.message-container{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    flex: 1;
    flex-direction: row;
    padding: 25px;
    background-color: rgba(244,244,244,0.9);
    vertical-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.message-container .text-container{
    flex: 6;
    padding-right: 25px;
    font-family: "Open Sans";
    text-align: justify;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.message-container .text-container p, b{
    font-family: "Open Sans";
}
.message-container .icon-container{
    flex: 1;
    display: flex;
    vertical-align: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.message-container .icon-container .material-icons{
    display: flex;
    font-size: 10vh;
    color: #ffc600;
}
.message-container .actions-container{
    flex: 1;
}

@media (max-width: 768px){
    .profile-duo{
        flex-direction: column;
    }
    
    .message-container{
        flex-direction: column;
        padding: 0;
    }

    .icon-container{
        background-color: #ffc600;
        flex: 1;
        width: 100%;
        color: white;
    }
    .edit-form .header-info{
        box-shadow: none;
    }
    .edit-form *{
        padding-left: 25px;
    }
    .icon-container .material-icons{
        color: white !important;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .text-container{
        flex: 1; 
        padding-right: 18px !important;
        padding: 18px;
    }
    .actions-container{
        flex: 1;
        width: 100%;
        background-color: blue;
    }
    .profile-container{
        flex-direction: column;
        margin-bottom: 20px;
        
    }
    .profile-container .decorador img{
        max-height: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .profile-container .profile-info{
        padding-left: 0px;
    }
    .profile-container .profile-info .header-info{
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(222,222,222,0.4);
    }
    .profile-container .header-info *{
        padding-left: 20px;
    }
    .profile-container .extra-info{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .profile-container .actions{
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    .profile-container .actions a{
        flex: 1;
    }
    .profile-container .actions button{
        width: 100%;
        font-size: 1.5vh;
    }
    .radio-container div{
        padding-left: 0px !important;
        margin-right: 0px;
    }
    .radio-container label{
        margin-right: 0px;
        padding-left: 2px !important;
    }
}
@media (max-width: 480px){
    .radio-container{
        flex-direction: column;
    }
}

.form-control{
    width: 100%;
    box-shadow: none;
    font-size: 14px;
    border: none;
    color: #000000;
    padding: 0px;
    padding-left: 12px;
    background-color: rgba(222,222,222,0.2);
    border: 1px solid rgba(222,222,222,0.6);
    border-radius: 0px;
    float: right;
    margin: 10px 0;
   /* width: 60vh;*/
}

/* __________________________: Validations Aspects :___________________________ */
.form-control-invalid-alert{
    font-size: 12px;
    color: red;
    font-weight: 500;
}

.form-control-invalid{
    border: 1px solid red;
    background: rgb(238, 170, 170);
    color: #641313;
}

.btn-cancel{
    background: rgb(231, 114, 114);
    color: #641313;
    margin: 10px 0;
}

/* ____________________________: Spinner Aspects :_____________________________ */
.spinner-container{
    width: 100%;
    height: 35px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
}
.load-spinner {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
    opacity: 0;
    width: 30px;
 
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}