<div class="container-fluid" id="dashboard">
  <div class="container">
    <div *ngIf="atleta" class="message-container">
      <div class="icon-container">
        <i class="material-icons">error</i>
      </div>
      <div class="text-container">
        <p>
          Los datos se actualizarán automaticamente al hacer click en el botón correspondiente, puedes comprobar los datos actuales
          en la ficha que tienes a continuación.
        </p>
      </div>
      <a routerLink="/" routerLinkActive="active">
        <button class="btn"> VOLVER </button>
      </a>
    </div>
    <div class="profile-duo">

      <div *ngIf="atleta" class="profile-container">
        <div class="decorador">
          <img src="http://summerchallenges.com/img/logo.svg" alt="lanzarote summer challenge" />
        </div>

        <div class="profile-info">
          <div class="header-info">
            <span id="name">{{atleta.nombre}}</span>
            <span id="email">{{atleta.email}}</span>
          </div>
          <div class="extra-info">
            <i class="material-icons">assessment</i> {{nombreCategoria}}
          </div>
          <div class="actions">
            <a target="_blank" (click)="pay()" class="btn">
              PAGAR INSCRIPCIÓN
            </a>
            <a target="_blank" class="btn" disabled>
              VER WODS
            </a>
          </div>
        </div>
      </div>

      <form atletaDatos [formGroup]="rForm">
        <md-card class="example-card row bg-white">

          <md-card-content class="col col-md-12">


            <input type="text" formControlName="name" class="form-control" [ngClass]="{'form-control-invalid': validarCampo('name')}"
              placeholder="Nombre completo" aria-describedby="basic-addon1">
            <span class="form-control-invalid-alert" *ngIf="validarCampo('name')">(*) Se requiere al menos 3 letras</span>

            <button class="btn btn-block" (click)="updateName()">MODIFICAR NOMBRE</button>


            <select formControlName="category" class="form-control">
              <option value="null" [disabled]="true" [selected]="true">Selecciona tu categoría</option>
              <option *ngFor="let categoria of aux_categorias" [ngValue]="categoria.c_id">{{categoria.nombre}}</option>
            </select>

            <button class="btn btn-block" (click)="requestChangeOfCategory()" *ngIf="stateRequestForChangeOfCategory == ''">SOLICITAR CAMBIO DE CATEGORÍA</button>
            <div class="spinner-container" *ngIf="stateRequestForChangeOfCategory == 'sending'">
              <div class="load-spinner"></div>
            </div>
            <span *ngIf="stateRequestForChangeOfCategory == 'sended'">{{changeCategoryMessage}}</span>
            <hr>
            <a href="reset-password-login" class="btn btn-block">CAMBIAR CONTRASEÑA</a>

          </md-card-content>
        </md-card>
      </form>
    </div>
  </div>