/* You can add global styles to this file, and also import other style files */
body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/img/bg-01.jpg');
    min-height: 100vh;
}
/* PROBANDO */
*{
    /*font-family: "Raleway";*/
}
.container-fluid{
    background-size: cover;
    background-repeat: no-repeat;
}
#confirmacion{
  padding-top: 40px;
}
.material-icons{
    font-family: "Material Icons" !important;
    font-size: 24px !important;
}

.center{
    max-width: 80%;
    margin:0 auto;
}
.h120{
    min-height: 120px;
}
.example-card{
    background-color: white;
}
.text-center{
    text-align: center;
}
.form-container table {
    padding: 55px;
    border-radius: 6px;
}
table tr{
    width: 100%;
    padding-top: 12px;

}

.input-group{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 12px;
}
.input-group-addon{
    background-color: transparent;
    color: #009c9c;
    border: none;
}
.form-control{
    box-shadow: none;
    font-size: 14px;
    border: none;
    color: #000000;
    padding: 18px 12px;
    background-color: rgba(222,222,222,0.2);
    border: 1px solid rgba(222,222,222,0.6);
    border-radius: 0px;
}
.form-control[disabled]{
    background-color: rgba(22,22,22,0.1);
    cursor: default;
}
.btn{
  border-radius: 0px;
  padding: 15px;
  background-color: #009c9c;
  color: white;
  font-weight: 800;
}
.error{
  font-size: 10px;
  background-color: transparent !important;
  border: none;
}
/* v 2.0 */
.flex {
    display: flex;
}
.flex-center {
    align-content: center;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}
.flex-wraper {
    flex-wrap: wrap;
}